div(
    class='site-nav site-nav-open button-primary'
)
    div(class='close-button-div')
        button(class='button-primary-outlined close-nav') X
    h2.card-header Goods
    div(id='category-list')
    h3.card-header Cart
    div(id='cart-nav')
        a(
            href='/order'
            target='_blank'
        )
        button(class='button-primary-outlined') Order

        